body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.93rem;
    line-height: 1.6;
}

.ow-button-base::after {
    content: '';
    display: table;
    clear: both;
}
.ow-button-base::before {
    content: '';
    display: block;
}
.ow-button-base.ow-button-align-center {
    text-align: center;
}

.so-widget-sow-button-atom-orange .ow-button-base a {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em 2em;
    background: #e37024;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc6718), color-stop(1, #e37024));
    background: -ms-linear-gradient(bottom, #bc6718, #e37024);
    background: -moz-linear-gradient(center bottom, #bc6718 0%, #e37024 100%);
    background: -o-linear-gradient(#e37024, #bc6718);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e37024', endColorstr='#bc6718', GradientType=0);
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: #ae5a16 #5c15a5 #ae5a16 #5c15a5;
    color: #ffffff !important;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.so-widget-sow-button-atom-e4f4c49ba697 .ow-button-base a {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em 2em;
    background: #8224e3;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6918bc), color-stop(1, #8224e3));
    background: -ms-linear-gradient(bottom, #6918bc, #8224e3);
    background: -moz-linear-gradient(center bottom, #6918bc 0%, #8224e3 100%);
    background: -o-linear-gradient(#8224e3, #6918bc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8224e3', endColorstr='#6918bc', GradientType=0);
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: #6116ae #5c15a5 #551398 #5c15a5;
    color: #ffffff !important;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.so-widget-sow-button-atom-4a75a8acc3b6 .ow-button-base a {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em 2em;
    background: #41a9d5;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #298fba), color-stop(1, #41a9d5));
    background: -ms-linear-gradient(bottom, #298fba, #41a9d5);
    background: -moz-linear-gradient(center bottom, #298fba 0%, #41a9d5 100%);
    background: -o-linear-gradient(#41a9d5, #298fba);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41a9d5', endColorstr='#298fba', GradientType=0);
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-color: #2685ad #247fa5 #227598 #247fa5;
    color: #ffffff !important;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.ow-button-base a {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
}

.ow-button-base a.ow-icon-placement-left .sow-icon-image, .ow-button-base a.ow-icon-placement-left [class^="sow-icon-"] {
    margin: -0.1em .75em -0.2em -0.75em;
    float: left;
}
.ow-button-base a .sow-icon-image {
    width: 1em;
    background-size: cover;
}
.ow-button-base a .sow-icon-image, .ow-button-base a [class^="sow-icon-"] {
    font-size: 1.3em;
    height: 1em;
    width: auto;
    margin: -0.1em .75em -0.2em -0.75em;
    display: block;
    float: left;
}

#logo .site-title{
    display: none;
}

#logo .site-description {
    width: 100%;
    margin: 0.5em auto 1em auto ;
    line-height: 1.4em;
    font-size: 1.1em;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top{
    max-height: 150px;
}
.panel-grid.panel-has-style>.panel-row-style, .panel-grid.panel-no-style {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.panel-grid-cell {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.panel-grid-cell h4 {
    text-align: left;
}

.entry-post tr th, .entry-post thead th {
    background: #e5e5e5;
    font-weight: bold;
    padding: 0.2em 1em;
}

/* Buttons */

a.fasc-size-small.fasc-ico-before::before {
    font: 400 14px/1 dashicons;
    padding-right: 4px;
}
a.fasc-button.fasc-ico-before::before, a.fasc-button.fasc-ico-after::after {
    vertical-align: middle;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    margin-top: -2px;
}

.fasc-size-small {
    font-size: 12px;
    padding: 6px 8px;
    border: 0;
    line-height: 17px;
}

.fasc-size-medium {
    font-size: 14px;
    padding: 7px 9px;
    font-size: 14px;
    line-height: 19px;
    border: 0;
}

.fasc-size-large {
    font-size: 18px;
    padding: 8px 10px;
    border: 0;
    line-height: 24px;
}

a.fasc-button {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: 3px 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
}

a.fasc-button.rounded.fasc-size-small, .fasc-rounded-medium.fasc-size-small {
    border-radius: 8px;
}

a.fasc-button.rounded.fasc-size-medium, .fasc-rounded-medium.fasc-size-medium {
    border-radius: 9px;
}

a.fasc-button.rounded.fasc-size-large, .fasc-rounded-medium.fasc-size-large {
    border-radius: 10px;
}

a.fasc-style-bold {
    font-weight: bold;
}



a.fasc-type-glossy {
    background-color: #247edd;
    border: 1px solid rgba(0,0,0, 0.1);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

a.fasc-button:hover, a.fasc-button:focus, a.fasc-button:visited, a.fasc-button:active {
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}




.bg-dark, .footer {
    background-color: #6c4e90!important;
    color: #fff; /* Footer text*/
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1); /* Navbar text*/
    font-weight: 600;
}

.logo__title {
    color: #6c4e90!important;
    font-size: 2.5rem;
}

.logo__link {
    text-transform: inherit;
}
.content a, .warning a {
    font-weight: 700;
    color: #6c4e90;
}

a {
    color: #6c4e90;
}

.container {
    max-width: 1340px;
}

.card-img {
    height: 200px;
    /* margin:auto; */
    width: auto;
    align-items: initial !important;
}

.card-img > img {
    object-fit: contain;
}

h5.card-title {
    line-height: 1.3em;
    text-align: left;
}

p.card-date {
    margin: 10px auto;
    font-size: smaller;
    text-align: left;
}

.dropdown-menu {
    background-color: #6c4e90;
    border: none;
}

.dropdown-item {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item:active {
    background-color: #ccc;
}

.icon-tag {
    background: #6c4e90;
}

.tags__item {
    background: none;
}

.logo__tagline {
    color: #000;
    font-size: 105%;
}

.widget__title {
    border-bottom: 3px solid #6c4e90;
}

.pagination__item:hover, .pagination__item--current {
    color: #fff;
    background: #6c4e90;
}

.btn-primary {
    color: #fff;
    background-color: #6c4e90;
    border-color: #6c4e90;
}

.carousel-item>img {
    height: 40vh;
    object-fit: cover;
}

.carousel-caption > h5 {
    margin:0;
}

.carousel-caption > h5 > a {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.3em;
}

.carousel-caption {
    right: 50%;
    bottom: 0;
    left: 0%;
    z-index: 10;
    text-align: left;
    background-color: rgba(0,0,0,0.7)
}

/* Make the carousel link fit and visible in mobile */
@media screen and (max-width: 900px){
    .carousel-caption {
        right: 0%;
    }

    .carousel-caption > h5 > a {
        font-size: 1rem;
    }
}

.carousel-indicators {
    margin: 0;
    bottom: inherit;
}

.carousel-indicators > li {
    background-color: #444;
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.slider-control-background {
    padding:5px;
    background-color: rgba(0,0,0,0.7);
    height: 30px;
    width: 30px;
}

.entry-post h1,h2,h3,h4,h5 {
    color: #222;
    font-weight: bold;
    line-height: 1.3em;
    margin: 1.2rem 0 0.5rem;
}
.entry-post h2 {
    font-size: 2.25em;
}

.entry-post h3 {
    font-size: 1.5em;
}

.entry-post h4 {
    font-size: 1.25em;
}

.entry-post h5 {
    font-size: 1em;
}

.entry-post, .sectionInfo, .NLM_sec-type_intro, .NLM_sec_level_1, .NLM_sec_level_2, .NLM_sec_level_3, .NLM_sec_level_4 {
    white-space: pre-line;
}

/* .entry-post  p {
    margin: -.5em auto;
} */
div.quote, blockquote {
    white-space: normal;
    margin-top: 1em;
}

.img-with-caption {
    text-align: center;
}

.indent-1 {
    margin-left: 1.5rem;
}

.indent-2 {
    margin-left: 3rem;
}

.indent-3 {
    margin-left: 4.5rem;
}

.indent-4 {
    margin-left: 6rem;
}

.entry-post p, .comment p {
    margin: 0.75em 0;
}
