<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand d-block d-md-none" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            {{range $menu := .Site.Params.barmenu }}
                <li class="nav-item {{ with $menu.children }}dropdown{{end}} mx-1">
                    {{ if $menu.children }}
                        <a class="nav-link dropdown-toggle" href="{{$menu.parent.url}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{$menu.parent.label}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {{range $child := $menu.children }}
                                <a class="dropdown-item" href="{{$child.url}}">{{$child.label}}</a>
                            {{end}}
                        </div>
                    {{ else }}
                        <a class="nav-link" href="{{$menu.parent.url}}">{{$menu.parent.label}}</a>
                    {{ end }}
                </li>
            {{end}}
        </ul>
     

          
        <form class="form-inline d-none d-md-block  my-2 my-lg-0" role="search" method="get" action="https://google.com/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="" name="q">
            <button class="btn btn-light my-2 my-sm-0 ml-2" type="submit">Search</button>
            <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
        </form>
    </div>
</nav>